:root {
    --dark: #212121;
    --rose: #f9dfdf;
}

.floating-action-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 56px;
    right: 56px;
    color: white;
    background-color: var(--dark);
    height: 72px;
    width: 72px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.floating-action-button:hover {
    background-color: #404040;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.floating-action-button i {
    font-size: 18pt;
}

.dialog {
    position: relative;
    border: none;
    border-radius: 10px;
    padding: 48px;
    padding-top: 48px;
    min-width: 350px;
}

.empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}

input[type="submit"],
button {
    background-color: black;
    color: white;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    width: 100%;
}

input {
    border: none;
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid;
    padding-bottom: 16px;
}

input:not([type="checkbox"]) {
    width: 100%;
}

input:focus {
    border: none;
    outline: none;
    outline: hidden;
    border-bottom: 2px solid;
    padding-top: 16px;
    padding-bottom: 16px;
}

input:not([type="checkbox"]) {
    width: 100%;
}

input[type="checkbox"] {
    color: white;
    accent-color: black;
}
dialog {
    position: relative;
    border: none;
    border-radius: 10px;
    padding: 48px;
    padding-top: 64px;
}

textarea {
    width: 350px;
    height: auto;
    margin-bottom: 64px;
    min-height: 1em;
    overflow: hidden;
    resize: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

textarea:focus {
    outline: none;
}

.text-input {
    width: 350px;
    border: none;
    margin-bottom: 32px;
    font-size: 18px;
}

.text-input:focus {
    outline: none;
}

.modal-actions {
    display: flex;
    justify-content: end;
    align-items: end;
}

.smol-avatar {
    --size: 24px;
    height: var(--size);
    width: var(--size);
    object-fit: cover;
    border-radius: 100%;
}

.role-chip {
    padding: 2px 8px;
    background-color: #212121b2;
    border-radius: 30px;
    color: white !important;
    font-size: 12px;
}

.main {
    margin: 8px 12px;
}

a {
    color: #fabfbf;
}

.limited-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20px;
}

input[type="submit"],
button {
    background-color: black;
    color: white;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    width: 100%;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

input {
    border: none;
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid;
    padding-top: 16px;
    padding-bottom: 16px;
}

input:not([type="checkbox"]) {
    width: 100%;
}

input:focus {
    border: none;
    outline: none;
    outline: hidden;
    border-bottom: 2px solid;
    padding-top: 16px;
    padding-bottom: 16px;
}

input:not([type="checkbox"]) {
    width: 100%;
}

input[type="checkbox"] {
    color: white;
    accent-color: black;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.multi {
    display: flex;
    gap: 12px;
    align-items: center;
}

.avatar {
    --radius: 82px;
    border-radius: 100%;
    width: var(--radius);
    height: var(--radius);
    border: 2px black solid;
    background-color: #f9dfdf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.files {
    border: 1px solid black;
    border-radius: 10px;
    color: #929292;
    display: flex;
    justify-content: center;
    margin: 12px 0px;
}

input[type="submit"],
button {
    background-color: black;
    color: white;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    width: 100%;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

input {
    border: none;
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid;
    padding-top: 16px;
    padding-bottom: 16px;
}

input:not([type="checkbox"]) {
    width: 100%;
}

input:focus {
    border: none;
    outline: none;
    outline: hidden;
    border-bottom: 2px solid;
    padding-top: 16px;
    padding-bottom: 16px;
}

input:not([type="checkbox"]) {
    width: 100%;
}

input[type="checkbox"] {
    color: white;
    accent-color: black;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.multi {
    display: flex;
    gap: 12px;
    align-items: center;
}

.avatar {
    --radius: 82px;
    border-radius: 100%;
    width: var(--radius);
    height: var(--radius);
    border: 2px black solid;
    background-color: #f9dfdf;
    display: flex;
    align-items: center;
    justify-content: center;
}
