:root {
    --dark: #212121;
    --rose: #f9dfdf;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 10px;
    border-top-right-radius: 45px;
}

.styled-table thead tr {
    background-color: var(--dark);
    color: var(--rose);
    text-align: left;
}

.styled-table th:first-child {
    border-top-left-radius: 10px;
}

.styled-table th:last-child {
    border-top-right-radius: 45px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    vertical-align: middle;
}

.styled-table tbody tr {
    border-bottom: 1px solid var(--dark);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--dark);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #fabfbf;
}

.multi {
    display: flex;
    align-items: center;
    gap: 8px;
}

.styled-table tbody tr:hover {
    background-color: #f9dfdf85 !important;
}

.styled-table tr .display-on-hover {
    display: none;
    background-color: green;
}

.styled-table tr:hover .display-on-hover {
    display: block;
}
